<section class="hero-two mx-auto">
   <div class="row col-lg-10 mx-auto">
      <div class="col-lg-7">
         <div class="hero-two-content mb-xl-15 mb-md-10 mb-7 ps-xxl-8 ps-0">
            <h2 class="pe-xl-0">{{title}}</h2>
            <p>{{description | markdownify}}</p>
            <div class="">
                  <a href="{{button.url}}" class="btn btn-primary btn-lg"> {{button.text}} </a>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="hero-two-banner mb-sm-8 mb-lg-10 mb-xxl-15 mb-7">
            <div class="card-image">
            <img src="{{image}}" alt="{{image_alt}}" loading="lazy" />
            </div>
         </div>
      </div>
   </div>
</section>